body{
    margin:0;
    font-family: 'PT Sans', sans-serif;
	}
	
header{
	width: 1200px;
	height: 50px;
	
}

.head{
	display: inline-block;
	margin-left: 270px;
	font-size: 25px;
}

progress {
	background-color: #f3f3f3;
	border: 0;
	height: 18px;
	border-radius: 9px;
}



.block {
	display: inline-block;
	margin-left: 50px;
	margin-top: 5px;
}

.block a{
	text-decoration: none;
	color: black;
}


.edit {
    display: inline-block;
	float: left;
	width: 500px; 
	margin-right:120px;
}

.html {
	height: 275px;
	width: 500px; 
	background: #C0C0C0;
}
	
.css{
	margin-top: 10px;
	height: 245px;
}	



.sample { 
	display: inline-block;
    width: 500px; 
    background: #C0C0C0;
	height: 275px;
	float: left;
}	



.result { 
	display: inline-block;
	margin-top: 10px;
    width: 500px; 
	height: 275px;
	float: left;
}
	
	
#editor1, #editor2, #editorH {
    background: #F4F2E6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	width: 488px;
    height: 233px;
}

.prog{
	display: inline-block;
	margin-left: 230px;
}
.prog2{
	margin-left: 520px;
}




/* Общие элементы, обычное состояние */
ul.pixel-tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.pixel-tabs li {
	display: inline-block;
	line-height: 30px;
	border: 1px solid #999;
	border-bottom: 0 none;
}
ul.pixel-tabs li a.tab {
	border-bottom: 1px solid #999;
	background: #eee;
	height: 29px;
}
ul.pixel-tabs li a {
	display: block;
	color: #666;
	text-decoration: none;
	display: inline-block;
	padding: 0px 12px;
	white-space: nowrap;
}
ul.pixel-tabs li a:hover {
	border-bottom: none;
}
/* Активно */
ul.pixel-tabs li a.active-tab {
	background: #fff;
	border-bottom: 0 none;
}
/* Содержание */
.content-tab {
	border: 1px solid #999;
	float: left;
	margin: -1px 0 0 0;
	padding: 5px;
}